@keyframes bg {
    0%    {background-image: linear-gradient(to top, #470c05 0%, #781b10 33%, #a12e20 66%, #cf4c3c 100%);}
    25%     {background-image: linear-gradient(to top, #cf4c3c 0%, #470c05 33%, #781b10 66%, #a12e20 100%);}
    50%    {background-image: linear-gradient(to top, #a12e20 0%, #cf4c3c 33%, #470c05 66%, #781b10 100%);}
    75%    {background-image: linear-gradient(to top, #781b10 0%, #a12e20 33%, #cf4c3c 66%, #470c05 100%);}
    100%    {background-image: linear-gradient(to top, #470c05 0%, #781b10 33%, #a12e20 66%, #cf4c3c 100%);}
}

body{
    animation-name: bg;
    animation-duration: 1250ms;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

h1{
    color: silver;
    text-shadow: 2px 2px rgb(92,92,92);
    text-align: center;
}