#thebox{
    alignment: center;
    background-color: black;
    color: white;
    text-align: center;
    border-bottom: red solid 15px;
    border-right: green solid 15px;
    border-left: goldenrod solid 15px;
    border-top: blue solid 15px;
    margin: 25px 600px;
    padding: 80px 70px;
}

body{
    background-image: url("../Images/box.jpg");
}