/*comment line*/

/*three ways to style an element
- by the html element
- by the id name
- by the class name*/

/*selector by element*/
h1{
    text-align: center;
    color: darkorange;
}

/*select by class name*/
.postTitle{
    color: red;
    text-decoration: underline;
}

/*select by id maes*/
#postContentOne{
    font-family: 'Aldrich', sans-serif;
}
#postContentTwo{
    text-decoration: line-through;
    font-family: 'Aldrich', sans-serif;
}

#box-model{
    background-color: silver;
/*    padding*/
/*    padding: 20px; !*applies all around*!*/
/*    padding: 20px 50px; !*top and bottom 20px, left and right 50px*!*/
    padding: 20px 50px 100px 60px; /* top 20px, right 50px, bottom 100px, left 60px */

    /*border*/
    border: orange 12px solid;

/*    margin*/
/*    margin: 50px; !* applies all around *!*/
/*    margin 50px 80px; !* top bottom 50px, left right 80px *!*/
    margin: 50px 80px 100px 30px;
}