/*      GLOBAL      */
p{
    color: #c0c0c0;
    position: absolute;
}

body{
    background-image: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);
}

/*@keyframes chip {*/
/*    0%      {background-color: gold;}*/
/*    50%    {background-color: goldenrod;}*/
/*    100%  {background-color:  darkgoldenrod;}*/
/*}*/

@keyframes chip {
    0%    {background-image: linear-gradient(to right, gold 0%, goldenrod 50%, darkgoldenrod 100%);}
    50%      {background-image: linear-gradient(to right, darkgoldenrod 0%, gold 50%, goldenrod 100%);}
    100%    {background-image: linear-gradient(to right, goldenrod 0%, darkgoldenrod 50%, gold 100%);}
}

h3{
    color: #c0c0c0;
    float: right;
}

/*      FRONT       */
.front{
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    border: solid   black 3px;
    margin: auto;
    /*The size of most credit cards is 85.60 by 53.98 millimetres (3 3⁄8 in × 2 1⁄8 in) */
    height: 540px;
    width: 856px;
    position: relative;
    border-radius: 30px;
}

#cc_num{
    font-size: 70px;
    margin-left: 65px;
    margin-top: 300px;
    text-shadow: 2px 2px rgb(92,92,92);
}

#rfid{
    background-color: goldenrod;
    height: 80px;
    width: 105px;
    float: left;
    margin-left: 45px;
    margin-top: 160px;
    animation-name: chip;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

#bankname{
    font-size: 80px;
    margin-left: 40px;
    margin-top: 10px;
    text-shadow: 2px 2px rgb(92,92,92);
}

#expdate{
    font-size: 38px;
    margin-left: 270px;
    margin-top: 390px;
    text-shadow: 2px 2px rgb(92,92,92);
}

#user{
    font-size: 38px;
    /*margin-bottom: 10px;*/
    margin-top: 460px;
    margin-left: 40px;
    text-shadow: 2px 2px rgb(92,92,92);
}

#expdate_2{
    font-size: 24px;
    margin-left: 290px;
    margin-top: 430px;
    text-shadow: 2px 2px rgb(92,92,92);
}

#mc{
    float: right;
    margin-top: 400px;
}

/*      BACK        */
.back {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    border: solid black 3px;
    margin: auto;
    height: 540px;
    width: 856px;
    position: relative;
    border-radius: 30px;
}

#swipe{
    background-color: black;
    margin-left: 0px;
    margin-top: 50px;
    height: 72px;
    width: 856px;
}

#ccvbox{
    background-color: beige;
    height: 60px;
    width: 500px;
    margin-top: 100px;
    margin-left: 100px;
    /*position: absolute;*/
    float: left;

}

#ccv{
    position: static;
    float: left;
    background-color: antiquewhite;
    height: 60px;
    width: 50px;
    margin-top: 100px;
    color: black;
    text-align: right;
    font-size: 18px;
}

#textA{
    margin-top: 80px;
    margin-left: 100px;
}

#textB{
    margin: 5px;
}

#sega{
    margin-left: 32px;
    margin-top: 200px;
    position: absolute;

}