/*  GLOBAL  */

.sigma{
    padding: 32px;
}

.row{
    padding: 16px;
}

/*  TOP     */

#date{
    width: 100%;
}

/*  SECTION 1   */

#section1-header{
    background-color: silver;
    border: solid   black   2px;
}

input[id^='otherO']{
    width: 25%;
}

input[id$='Number']{
    width: 25%;
}

.header_text_2{
    font-size: 16px;
}

.header1{
    position: relative;
    margin: 0   auto;
}

#applicantName{
    width: 50%;
}

#other_occupants{
    position: relative;
    margin: 0   auto;
}

/*  SECTION 2   */

#section2-header{
    background-color: silver;
    border: solid   black   2px;
}

input[id^='present']{
    width: 25%;
}

input[id^='previous']{
    width: 25%;
}

/*  SECTION 3   */

#section3-header{
    background-color: silver;
    border: solid   black   2px;
}

#employer, #supervisor, #employer_sp, #supervisor_sp{
    width: 30%;
}

#employer-address, #employer-address_sp, #employer-phone, #employer-phone_sp, #employer-fax, #employer-fax_sp, #employment-length,
#employment-length_sp, #occupation, #occupation_sp, #salary, #salary_sp{
    width: 21%;
}

input[id^='otheri']{
    width: 30%;
}

/*  SECTION 4   */

#section4-header{
    background-color: silver;
    border: solid   black   2px;
}