/*  GLOBAL  */

.container{
    margin: 0 auto;
    width: 85%;
    display: grid;
    grid-gap: 1rem;
}


.row{
    width: 100%;
    border: 2px solid black;
}

.row:after{
    content: "";
    display: grid;
    clear: both;
}

.column{
    float: left;
    background-color: gray;
    outline: solid 1px black;
    outline-offset: -1px;
}

/*  row 1   */
.column.A{
    width: 50%;
}

/*  row 2    */
.column.B{
    width: 33.33%;
}

/*  row 3   */
.column.C{
    width: 25%;
}

/*  row 4   */
.column.D{
    width: 12.5%;
}

/*  row 5   */
.column#e1{
    width: 25%;
}

.column#e2{
    width: 50%;
}

.column#e3{
    width: 12.5%;
}

.column#e4{
    width: 12.5%;
}
