@keyframes bg {
    0%    {background-image: linear-gradient(to top, #0c0547 0%, #1b1078 33%, #2e20a1 66%, #4c3ccf 100%);}
    25%     {background-image: linear-gradient(to top, #4c3ccf 0%, #0c0547 33%, #1b1078 66%, #2e20a1 100%);}
    50%    {background-image: linear-gradient(to top, #2e20a1 0%, #4c3ccf 33%, #0c0547 66%, #1b1078 100%);}
    75%    {background-image: linear-gradient(to top, #1b1078 0%, #2e20a1 33%, #4c3ccf 66%, #0c0547 100%);}
    100%    {background-image: linear-gradient(to top, #0c0547 0%, #1b1078 33%, #2e20a1 66%, #4c3ccf 100%);}
}

body{
    animation-name: bg;
    animation-duration: 1250ms;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

h1{
    color: silver;
    text-shadow: 2px 2px rgb(92,92,92);
    text-align: center;
}