@keyframes bg {
    0%    {background-image: linear-gradient(to top, #0c4705 0%, #1b7810 33%, #2ea120 66%, #4ccf3c 100%);}
    25%     {background-image: linear-gradient(to top, #4ccf3c 0%, #0c4705 33%, #1b7810 66%, #2ea120 100%);}
    50%    {background-image: linear-gradient(to top, #2ea120 0%, #4ccf3c 33%, #0c4705 66%, #1b7810 100%);}
    75%    {background-image: linear-gradient(to top, #1b7810 0%, #2ea120 33%, #4ccf3c 66%, #0c4705 100%);}
    100%    {background-image: linear-gradient(to top, #0c4705 0%, #1b7810 33%, #2ea120 66%, #4ccf3c 100%);}
}

body{
    animation-name: bg;
    animation-duration: 1250ms;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

h1{
    color: silver;
    text-shadow: 2px 2px rgb(92,92,92);
    text-align: center;
}