#destiny-outer{
    background-color: #2a2a2a;
    border: silver  solid   3px;
    margin: 0   auto;
}

#destiny-inner{
    margin: 16px auto;
}

#mk{
    color: ghostwhite;
    padding: 8px;
    margin: auto 32px;
}

#Left-box{
    position: relative;
    border: solid   red 5px ;
    margin: 4px;
    padding: 32px 4px;
}

.row{
    margin: auto;
}

.left-box-2{
    margin: 1px auto;
}

#left-signin, #left-signup, #left-email, #left-youremail, #left-yourpassword, #left-password, #left-savepass, #left-login, #left-signup-span    {
    margin: 4px auto;
}

#left-email, #left-password{
    width: 75%;
}

/*  center    */

#center-box{
    position: relative;
    border: solid   green 5px;
    margin: 4px;
    padding: 32px 4px;
}

.center-box-2{
    margin: 1px auto;
}

#center-signin, #center-signup, #center-email, #center-password, #center-login, #center-forgotpass, #center-signup-span {
    margin: 4px auto;
}

#Tbox, #FBbox, #twatter, #fessbuk, #Gbox, #askjeeves{
    margin: 4px auto;
}

#center-email, #center-password{
    width: 75%;
}

/*  Right   */

#right-box{
    position: relative;
    border: solid   blue 5px;
    margin: 4px;
    padding: 32px 4px;
}

.right-box-2{
    margin: 1px auto;
}

#right-signin, #right-email, #right-password, #right-login, #right-message, #right-forgotpass {
    margin: 4px auto;
}

#right-message{
    color: forestgreen;
}

#right-email, #right-password {
    width: 75%;
}