body{
    background-image: url("../Images/spess.jpg");
    /*min-height: 100vh;*/
    background-position: center;
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
}

div[id^='pic_row']{
    margin: 2px auto;
    /*border: solid   green   3px ;*/
}


  /*picture 1 button    */
#picture1-button-container{
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: 4px;
    margin-bottom: 4px;
    /*border: solid   blue    3px;*/
    display: block;
}
#picture1-button{
    margin: 0   auto;
    /*border: solid   red 3px;*/
    width: 33%;
    text-align: center;
    display: block;
}

  /*picture 2 button*/
#picture2-button-container{
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: 4px;
    margin-bottom: 4px;
    /*border: solid   blue    3px;*/
    display: block;
}
#picture2-button{
    margin: 0   auto;
    /*border: solid   red 3px;*/
    width: 33%;
    text-align: center;
    display: block;
}

/*  picture 3 button    */

#picture3-button-container{
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: 4px;
    margin-bottom: 4px;
    /*border: solid   blue    3px;*/
    display: block;
}
#picture3-button{
    margin: 0   auto;
    /*border: solid   red 3px;*/
    width: 33%;
    text-align: center;
    display: block;
}


/*  picture 4 button    */
#picture4-button-container{
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: 4px;
    margin-bottom: 4px;
    /*border: solid   blue    3px;*/
    display: block;
}
#picture4-button{
    margin: 0   auto;
    /*border: solid   red 3px;*/
    width: 33%;
    text-align: center;
    display: block;
}

/*  picture 5   */
#picture5-button-container{
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: 4px;
    margin-bottom: 4px;
    /*border: solid   blue    3px;*/
    display: block;
}
#picture5-button{
    margin: 0   auto;
    /*border: solid   red 3px;*/
    width: 33%;
    text-align: center;
    display: block;
}



/*----------*/
div[id^='picture']{
    padding: 4px;
}

.sigma{
    padding: 4px;
}
.bar {
    height: 4px;
    background-color: black;
    border: solid black 1px;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
}

.img-desc{
    background-color: rgba(0,0,0,0.6);
}

#title{
    background-color: rgba(0,0,0,0.6);
    border: silver  solid   1px;
}

#carded{
    width: 80%;
    margin: 0   auto;
    background-color: rgba(0,0,0,0.8);
}


