/*  Global  */

body{
    background-color: #2a2a2a;
}

.header{
   color: lightsteelblue;
}

.footer{
    color: silver;
    font-style: italic;
}

.text{
    color: lightsteelblue;
    font-size: 18px;
    margin: 2px;
}

.source{
    color: azure;
}

.image{
    margin: 5px;
}

/*  Section 1   */
.section1{
    margin: auto;
    position: relative;
}

#title, #T1000{
    position: relative;
    margin: 0 auto;
    align-items: center;
}

/*  Section 2   */


.section2{
    position: relative;
    margin: 16px;
}

.sidebar1{
    float: left;
    clear: right;
}

.section2.text_div#text_div_1{
    position: absolute;
    /*margin-left: 250px;*/
    
}

/*  Section 3   */
.buffer{
    height: 50px;
    width: 100%;
}

.section3{
    position: absolute;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(3,1fr);
}

.section3.sec3col#col1{
    margin: 16px;
}
.section3.sec3col#col2{
    margin: 16px;
}
.section3.sec3col#col3{
    margin: 16px;
}