
body{
    background-image: url("../Images/spess.jpg");
    min-height: 100vh;
    background-position: center;
    /*background-repeat: no-repeat;*/
    background-size: cover;
}

.row{
    margin-top: 2rem;
}
